# Node/Next
node_modules
.next
.out
dist
.vercel
.cache

# Env y credenciales locales
.env*
firebase-debug.log
firestore-debug.log
ui-debug.log
.emulator-data
firebase-export-*
serviceAccount*.json
*-firebase-adminsdk-*.json
